In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [252]:
dataset=pd.read_csv('germancredit.txt',delim_whitespace=True,header=None)

In [253]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [254]:
dataset.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20],
           dtype='int64')

In [255]:
dataset = dataset.iloc[:,[0,2,3,5,6,8,9,11,13,14,16,18,19,1,4,7,10,12,15,17,20]]
dataset.columns=list(range(0,21))
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,A34,A43,A65,A75,A93,A101,A121,A143,A152,...,A192,A201,6,1169,4,4,67,2,1,1
1,A12,A32,A43,A61,A73,A92,A101,A121,A143,A152,...,A191,A201,48,5951,2,2,22,1,1,2
2,A14,A34,A46,A61,A74,A93,A101,A121,A143,A152,...,A191,A201,12,2096,2,3,49,1,2,1
3,A11,A32,A42,A61,A74,A93,A103,A122,A143,A153,...,A191,A201,42,7882,2,4,45,1,2,1
4,A11,A33,A40,A61,A73,A93,A101,A124,A143,A153,...,A191,A201,24,4870,3,4,53,2,2,2

# Different type f encoding

In [256]:
char_cols = dataset.dtypes.pipe(lambda x: x[x == 'object']).index

for c in char_cols:
    dataset[c] = pd.factorize(dataset[c])[0]

In [257]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,6,1169,4,4,67,2,1,1
1,1,1,0,1,1,1,0,0,0,0,...,1,0,48,5951,2,2,22,1,1,2
2,2,0,1,1,2,0,0,0,0,0,...,1,0,12,2096,2,3,49,1,2,1
3,0,1,2,1,2,0,1,1,0,1,...,1,0,42,7882,2,4,45,1,2,1
4,0,2,3,1,1,0,0,2,0,1,...,1,0,24,4870,3,4,53,2,2,2

In [258]:
ohe = pd.get_dummies(dataset, columns=[0,1,2,3,4,5,6,7,8,9,10,11,12])

In [259]:
ohe.head()

,13,14,15,16,17,18,19,20,0_0,0_1,...,9_1,9_2,10_0,10_1,10_2,10_3,11_0,11_1,12_0,12_1
0,6,1169,4,4,67,2,1,1,1,0,...,0,0,1,0,0,0,1,0,1,0
1,48,5951,2,2,22,1,1,2,0,1,...,0,0,1,0,0,0,0,1,1,0
2,12,2096,2,3,49,1,2,1,0,0,...,0,0,0,1,0,0,0,1,1,0
3,42,7882,2,4,45,1,2,1,1,0,...,1,0,1,0,0,0,0,1,1,0
4,24,4870,3,4,53,2,2,2,1,0,...,1,0,1,0,0,0,0,1,1,0

In [260]:
result=ohe[20]
ohe.drop(columns=20).head()

,13,14,15,16,17,18,19,0_0,0_1,0_2,...,9_1,9_2,10_0,10_1,10_2,10_3,11_0,11_1,12_0,12_1
0,6,1169,4,4,67,2,1,1,0,0,...,0,0,1,0,0,0,1,0,1,0
1,48,5951,2,2,22,1,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
2,12,2096,2,3,49,1,2,0,0,1,...,0,0,0,1,0,0,0,1,1,0
3,42,7882,2,4,45,1,2,1,0,0,...,1,0,1,0,0,0,0,1,1,0
4,24,4870,3,4,53,2,2,1,0,0,...,1,0,1,0,0,0,0,1,1,0

In [221]:
dataset=pd.concat([ohe,result],axis=1)

In [228]:
dataset.columns=list(range(0,len(dataset.columns)))

In [262]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,0,0,0,0,0,0,0,0,0,...,0,0,6,1169,4,4,67,2,1,1
1,1,1,0,1,1,1,0,0,0,0,...,1,0,48,5951,2,2,22,1,1,2
2,2,0,1,1,2,0,0,0,0,0,...,1,0,12,2096,2,3,49,1,2,1
3,0,1,2,1,2,0,1,1,0,1,...,1,0,42,7882,2,4,45,1,2,1
4,0,2,3,1,1,0,0,2,0,1,...,1,0,24,4870,3,4,53,2,2,2

In [280]:
len(dataset[dataset[20]==1].index)

700

In [133]:
# Let us not split into test train dataset

In [263]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [264]:
from sklearn.cross_validation import train_test_split

In [265]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25)

from sklearn.preprocessing import LabelEncoder # here we saw that Label encoder did not work for multiple column at once.




from sklearn.preprocessing import OneHotEncoder # used dummies instead

In [266]:
from sklearn.linear_model import LogisticRegression

In [267]:
regressor=LogisticRegression()

In [268]:
regressor.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [339]:
THRESHOLD = 0.1
preds = np.where(regressor.predict_proba(x_test)[:,1] > THRESHOLD, 1, 2)

In [340]:
y_pred=regressor.predict(x_test)
y_pred

array([1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2,
       1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1,
       1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2,
       1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2], dtype=int64)

In [341]:
from sklearn.metrics import confusion_matrix

In [342]:
cm=confusion_matrix(y_test,preds)

In [343]:
cm

array([[147,  32],
       [ 65,   6]], dtype=int64)

In [315]:
regressor.predict_proba(x_test)

array([[0.85370569, 0.14629431],
       [0.51327194, 0.48672806],
       [0.76781416, 0.23218584],
       [0.95487506, 0.04512494],
       [0.52872645, 0.47127355],
       [0.06024148, 0.93975852],
       [0.46966438, 0.53033562],
       [0.87790535, 0.12209465],
       [0.29142739, 0.70857261],
       [0.8519267 , 0.1480733 ],
       [0.94855782, 0.05144218],
       [0.89287245, 0.10712755],
       [0.73809476, 0.26190524],
       [0.57686075, 0.42313925],
       [0.87877892, 0.12122108],
       [0.17303492, 0.82696508],
       [0.82171934, 0.17828066],
       [0.65913211, 0.34086789],
       [0.41519524, 0.58480476],
       [0.65394105, 0.34605895],
       [0.66046004, 0.33953996],
       [0.42318317, 0.57681683],
       [0.89670858, 0.10329142],
       [0.93230836, 0.06769164],
       [0.84443104, 0.15556896],
       [0.9378386 , 0.0621614 ],
       [0.27254146, 0.72745854],
       [0.4438585 , 0.5561415 ],
       [0.81151997, 0.18848003],
       [0.39961639, 0.60038361],
       [0.75805808, 0.24194192],
       [0.84070054, 0.15929946],
       [0.69563119, 0.30436881],
       [0.95098781, 0.04901219],
       [0.60830066, 0.39169934],
       [0.95791996, 0.04208004],
       [0.94794317, 0.05205683],
       [0.36616228, 0.63383772],
       [0.82459785, 0.17540215],
       [0.90677442, 0.09322558],
       [0.85373649, 0.14626351],
       [0.15627288, 0.84372712],
       [0.7881806 , 0.2118194 ],
       [0.43166716, 0.56833284],
       [0.60235017, 0.39764983],
       [0.62832415, 0.37167585],
       [0.85120797, 0.14879203],
       [0.70453741, 0.29546259],
       [0.683907  , 0.316093  ],
       [0.80311759, 0.19688241],
       [0.6837492 , 0.3162508 ],
       [0.66164663, 0.33835337],
       [0.63017995, 0.36982005],
       [0.84577037, 0.15422963],
       [0.27714638, 0.72285362],
       [0.53724512, 0.46275488],
       [0.82359981, 0.17640019],
       [0.75471458, 0.24528542],
       [0.86256602, 0.13743398],
       [0.96608244, 0.03391756],
       [0.05942283, 0.94057717],
       [0.70592142, 0.29407858],
       [0.86640009, 0.13359991],
       [0.79511535, 0.20488465],
       [0.58011865, 0.41988135],
       [0.70287973, 0.29712027],
       [0.28934333, 0.71065667],
       [0.78793389, 0.21206611],
       [0.87106709, 0.12893291],
       [0.55977691, 0.44022309],
       [0.89426797, 0.10573203],
       [0.66970054, 0.33029946],
       [0.84663072, 0.15336928],
       [0.71651708, 0.28348292],
       [0.91889773, 0.08110227],
       [0.8863516 , 0.1136484 ],
       [0.42864367, 0.57135633],
       [0.65054294, 0.34945706],
       [0.83704374, 0.16295626],
       [0.27329266, 0.72670734],
       [0.81858859, 0.18141141],
       [0.48399398, 0.51600602],
       [0.43156227, 0.56843773],
       [0.74116421, 0.25883579],
       [0.76170339, 0.23829661],
       [0.61674858, 0.38325142],
       [0.3275004 , 0.6724996 ],
       [0.66704442, 0.33295558],
       [0.54988114, 0.45011886],
       [0.79691678, 0.20308322],
       [0.94241528, 0.05758472],
       [0.92600538, 0.07399462],
       [0.74519385, 0.25480615],
       [0.89494336, 0.10505664],
       [0.13443105, 0.86556895],
       [0.78370439, 0.21629561],
       [0.8793746 , 0.1206254 ],
       [0.50396723, 0.49603277],
       [0.42853321, 0.57146679],
       [0.82995879, 0.17004121],
       [0.96760597, 0.03239403],
       [0.64035734, 0.35964266],
       [0.70795915, 0.29204085],
       [0.94936992, 0.05063008],
       [0.90065806, 0.09934194],
       [0.87054556, 0.12945444],
       [0.46104274, 0.53895726],
       [0.85112822, 0.14887178],
       [0.72707926, 0.27292074],
       [0.81347291, 0.18652709],
       [0.73031061, 0.26968939],
       [0.89482908, 0.10517092],
       [0.29918936, 0.70081064],
       [0.76593993, 0.23406007],
       [0.38676255, 0.61323745],
       [0.72779529, 0.27220471],
       [0.89563326, 0.10436674],
       [0.74664456, 0.25335544],
       [0.65241235, 0.34758765],
       [0.85652037, 0.14347963],
       [0.62397356, 0.37602644],
       [0.80706566, 0.19293434],
       [0.68884859, 0.31115141],
       [0.89063766, 0.10936234],
       [0.84762443, 0.15237557],
       [0.45353456, 0.54646544],
       [0.47258288, 0.52741712],
       [0.55552028, 0.44447972],
       [0.39528146, 0.60471854],
       [0.42720375, 0.57279625],
       [0.81342684, 0.18657316],
       [0.69349033, 0.30650967],
       [0.82042287, 0.17957713],
       [0.17451233, 0.82548767],
       [0.89421238, 0.10578762],
       [0.42825389, 0.57174611],
       [0.82371268, 0.17628732],
       [0.59787641, 0.40212359],
       [0.88355747, 0.11644253],
       [0.2553693 , 0.7446307 ],
       [0.66861606, 0.33138394],
       [0.58805933, 0.41194067],
       [0.87544779, 0.12455221],
       [0.4193937 , 0.5806063 ],
       [0.85973705, 0.14026295],
       [0.86947091, 0.13052909],
       [0.87038521, 0.12961479],
       [0.75033102, 0.24966898],
       [0.8932827 , 0.1067173 ],
       [0.31521378, 0.68478622],
       [0.707478  , 0.292522  ],
       [0.87839611, 0.12160389],
       [0.51402339, 0.48597661],
       [0.51319085, 0.48680915],
       [0.8087092 , 0.1912908 ],
       [0.94484936, 0.05515064],
       [0.90440116, 0.09559884],
       [0.94231257, 0.05768743],
       [0.53529995, 0.46470005],
       [0.76040677, 0.23959323],
       [0.58011818, 0.41988182],
       [0.97323313, 0.02676687],
       [0.45918986, 0.54081014],
       [0.79700231, 0.20299769],
       [0.26384294, 0.73615706],
       [0.73341797, 0.26658203],
       [0.94630537, 0.05369463],
       [0.91228607, 0.08771393],
       [0.90732792, 0.09267208],
       [0.41791277, 0.58208723],
       [0.93945074, 0.06054926],
       [0.86576563, 0.13423437],
       [0.41467891, 0.58532109],
       [0.45893807, 0.54106193],
       [0.47141467, 0.52858533],
       [0.28935253, 0.71064747],
       [0.92416555, 0.07583445],
       [0.70574391, 0.29425609],
       [0.55877525, 0.44122475],
       [0.95343798, 0.04656202],
       [0.50766691, 0.49233309],
       [0.72275422, 0.27724578],
       [0.40930631, 0.59069369],
       [0.18674486, 0.81325514],
       [0.81983462, 0.18016538],
       [0.84237962, 0.15762038],
       [0.98186343, 0.01813657],
       [0.97816   , 0.02184   ],
       [0.61070065, 0.38929935],
       [0.9268741 , 0.0731259 ],
       [0.67003068, 0.32996932],
       [0.8962745 , 0.1037255 ],
       [0.764955  , 0.235045  ],
       [0.39357305, 0.60642695],
       [0.81473762, 0.18526238],
       [0.7660359 , 0.2339641 ],
       [0.77119388, 0.22880612],
       [0.87855677, 0.12144323],
       [0.61214675, 0.38785325],
       [0.91367234, 0.08632766],
       [0.62260125, 0.37739875],
       [0.87193313, 0.12806687],
       [0.77787373, 0.22212627],
       [0.97528185, 0.02471815],
       [0.89511171, 0.10488829],
       [0.64588104, 0.35411896],
       [0.63426223, 0.36573777],
       [0.87504438, 0.12495562],
       [0.37888858, 0.62111142],
       [0.74442708, 0.25557292],
       [0.73218273, 0.26781727],
       [0.65626065, 0.34373935],
       [0.6355297 , 0.3644703 ],
       [0.80411733, 0.19588267],
       [0.78975299, 0.21024701],
       [0.85410277, 0.14589723],
       [0.82203818, 0.17796182],
       [0.41933718, 0.58066282],
       [0.82582693, 0.17417307],
       [0.53808847, 0.46191153],
       [0.23920165, 0.76079835],
       [0.88686954, 0.11313046],
       [0.75074007, 0.24925993],
       [0.96695118, 0.03304882],
       [0.77267305, 0.22732695],
       [0.48617502, 0.51382498],
       [0.70552113, 0.29447887],
       [0.90390506, 0.09609494],
       [0.28381093, 0.71618907],
       [0.93592308, 0.06407692],
       [0.46024041, 0.53975959],
       [0.34127315, 0.65872685],
       [0.68360936, 0.31639064],
       [0.69205435, 0.30794565],
       [0.90617999, 0.09382001],
       [0.25595312, 0.74404688],
       [0.82484857, 0.17515143],
       [0.50086985, 0.49913015],
       [0.48989495, 0.51010505],
       [0.51367808, 0.48632192],
       [0.91014124, 0.08985876],
       [0.66073607, 0.33926393],
       [0.93318128, 0.06681872],
       [0.81699269, 0.18300731],
       [0.51569525, 0.48430475],
       [0.67223208, 0.32776792],
       [0.94727186, 0.05272814],
       [0.92918268, 0.07081732],
       [0.78946302, 0.21053698],
       [0.09632432, 0.90367568]])

In [314]:
y_pred.shape

(250,)

In [344]:
cm2=confusion_matrix(y_test,y_pred)
cm2

array([[152,  27],
       [ 44,  27]], dtype=int64)

# conclusions-PCA can be used. Probability threshold can be tumed to decrease the number of false -ve as they are generally costly. Label Encoder and one hot encoder has been used differently via factorize and dummires dummies.