In [1]:
import pandas as pd
import numpy as np

C:\Users\SAURABH\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [136]:
data=pd.read_csv('breast-cancer-wisconsin.data',header=None)

In [137]:
data.columns=['Sample code number','Clump Thickness','Uniformity of Cell Size' ,'Uniformity of Cell Shape','Marginal Adhesion',
 'Single Epithelial Cell Size',
 'Bare Nuclei',
 'Bland Chromatin',
 'Normal Nucleoli',
 'Mitoses',
 'Class']

In [138]:
data[data=='?'].count()

Sample code number              0
Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [139]:
data[data['Bare Nuclei']=='?'].index

Int64Index([23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],
           dtype='int64')

In [140]:
data.iloc[[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],:]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,?,7,3,1,4
40,1096800,6,6,6,9,6,?,7,8,1,2
139,1183246,1,1,1,1,1,?,2,1,1,2
145,1184840,1,1,3,1,2,?,2,1,1,2
158,1193683,1,1,2,1,3,?,1,1,1,2
164,1197510,5,1,1,1,2,?,3,1,1,2
235,1241232,3,1,4,1,2,?,3,1,1,2
249,169356,3,1,1,1,2,?,3,1,1,2
275,432809,3,1,3,1,2,?,2,1,1,2
292,563649,8,8,8,1,2,?,6,10,1,4
294,606140,1,1,1,1,2,?,2,1,1,2
297,61634,5,4,3,1,2,?,2,3,1,2
315,704168,4,6,5,6,7,?,4,9,1,2
321,733639,3,1,1,1,2,?,3,1,1,2
411,1238464,1,1,1,1,1,?,2,1,1,2
617,1057067,1,1,1,1,1,?,1,1,1,2

In [141]:
data = data.apply(pd.to_numeric, errors='coerce')

In [142]:
data.iloc[[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],:]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,NaN,7,3,1,4
40,1096800,6,6,6,9,6,NaN,7,8,1,2
139,1183246,1,1,1,1,1,NaN,2,1,1,2
145,1184840,1,1,3,1,2,NaN,2,1,1,2
158,1193683,1,1,2,1,3,NaN,1,1,1,2
164,1197510,5,1,1,1,2,NaN,3,1,1,2
235,1241232,3,1,4,1,2,NaN,3,1,1,2
249,169356,3,1,1,1,2,NaN,3,1,1,2
275,432809,3,1,3,1,2,NaN,2,1,1,2
292,563649,8,8,8,1,2,NaN,6,10,1,4
294,606140,1,1,1,1,2,NaN,2,1,1,2
297,61634,5,4,3,1,2,NaN,2,3,1,2
315,704168,4,6,5,6,7,NaN,4,9,1,2
321,733639,3,1,1,1,2,NaN,3,1,1,2
411,1238464,1,1,1,1,1,NaN,2,1,1,2
617,1057067,1,1,1,1,1,NaN,1,1,1,2

In [143]:
data.corr()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
Sample code number,1.000000,-0.055308,-0.041603,-0.041576,-0.064878,-0.045528,-0.099248,-0.060051,-0.052072,-0.034901,-0.080226
Clump Thickness,-0.055308,1.000000,0.644913,0.654589,0.486356,0.521816,0.593091,0.558428,0.535835,0.350034,0.716001
Uniformity of Cell Size,-0.041603,0.644913,1.000000,0.906882,0.705582,0.751799,0.691709,0.755721,0.722865,0.458693,0.817904
Uniformity of Cell Shape,-0.041576,0.654589,0.906882,1.000000,0.683079,0.719668,0.713878,0.735948,0.719446,0.438911,0.818934
Marginal Adhesion,-0.064878,0.486356,0.705582,0.683079,1.000000,0.599599,0.670648,0.666715,0.603352,0.417633,0.696800
Single Epithelial Cell Size,-0.045528,0.521816,0.751799,0.719668,0.599599,1.000000,0.585716,0.616102,0.628881,0.479101,0.682785
Bare Nuclei,-0.099248,0.593091,0.691709,0.713878,0.670648,0.585716,1.000000,0.680615,0.584280,0.339210,0.822696
Bland Chromatin,-0.060051,0.558428,0.755721,0.735948,0.666715,0.616102,0.680615,1.000000,0.665878,0.344169,0.756616
Normal Nucleoli,-0.052072,0.535835,0.722865,0.719446,0.603352,0.628881,0.584280,0.665878,1.000000,0.428336,0.712244
Mitoses,-0.034901,0.350034,0.458693,0.438911,0.417633,0.479101,0.339210,0.344169,0.428336,1.000000,0.423170
Class,-0.080226,0.716001,0.817904,0.818934,0.696800,0.682785,0.822696,0.756616,0.712244,0.423170,1.000000

In [144]:
newdata=data.dropna()
newdata.shape

(683, 11)

In [145]:
x=newdata.iloc[:,[data.columns.get_loc('Uniformity of Cell Shape'),data.columns.get_loc('Uniformity of Cell Size')]].values
y=newdata.iloc[:,data.columns.get_loc('Bare Nuclei')].values

In [146]:
x.shape,y.shape

((683, 2), (683,))

In [147]:
from sklearn.linear_model import LinearRegression

regressor=LinearRegression()

regeressor.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [148]:
regeressor.coef_

array([0.5949618 , 0.29602292])

In [149]:
regeressor.intercept_

0.6990081320249235

In [150]:
pd.isnull(data['Bare Nuclei'][[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617]])

23     True
40     True
139    True
145    True
158    True
164    True
235    True
249    True
275    True
292    True
294    True
297    True
315    True
321    True
411    True
617    True
Name: Bare Nuclei, dtype: bool

In [151]:
for index in data[data['Bare Nuclei'].isnull()].index.tolist():
            #linear regression equation
            a = 0.59 * data['Uniformity of Cell Shape'][index] + 0.296 * data['Uniformity of Cell Size'][index] + .71
            # replacing "nan" values in dataframe using .set_value
            a=a.astype(int)
            data.iloc[[index],data.columns.get_loc('Bare Nuclei')]=a

In [152]:
data.iloc[[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],:]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,4.0,7,3,1,4
40,1096800,6,6,6,9,6,6.0,7,8,1,2
139,1183246,1,1,1,1,1,1.0,2,1,1,2
145,1184840,1,1,3,1,2,2.0,2,1,1,2
158,1193683,1,1,2,1,3,2.0,1,1,1,2
164,1197510,5,1,1,1,2,1.0,3,1,1,2
235,1241232,3,1,4,1,2,3.0,3,1,1,2
249,169356,3,1,1,1,2,1.0,3,1,1,2
275,432809,3,1,3,1,2,2.0,2,1,1,2
292,563649,8,8,8,1,2,7.0,6,10,1,4
294,606140,1,1,1,1,2,1.0,2,1,1,2
297,61634,5,4,3,1,2,3.0,2,3,1,2
315,704168,4,6,5,6,7,5.0,4,9,1,2
321,733639,3,1,1,1,2,1.0,3,1,1,2
411,1238464,1,1,1,1,1,1.0,2,1,1,2
617,1057067,1,1,1,1,1,1.0,1,1,1,2