In [1]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('breast-cancer-wisconsin.data',header=None)

In [6]:
data.columns=['Sample code number','Clump Thickness','Uniformity of Cell Size' ,'Uniformity of Cell Shape','Marginal Adhesion',
 'Single Epithelial Cell Size',
 'Bare Nuclei',
 'Bland Chromatin',
 'Normal Nucleoli',
 'Mitoses',
 'Class']

In [10]:
data[data['Bare Nuclei']=='?'].index

Int64Index([23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],
           dtype='int64')

In [15]:
data=data.apply(pd.to_numeric,errors='coerce')

In [25]:
data.iloc[[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],:]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,NaN,7,3,1,4
40,1096800,6,6,6,9,6,NaN,7,8,1,2
139,1183246,1,1,1,1,1,NaN,2,1,1,2
145,1184840,1,1,3,1,2,NaN,2,1,1,2
158,1193683,1,1,2,1,3,NaN,1,1,1,2
164,1197510,5,1,1,1,2,NaN,3,1,1,2
235,1241232,3,1,4,1,2,NaN,3,1,1,2
249,169356,3,1,1,1,2,NaN,3,1,1,2
275,432809,3,1,3,1,2,NaN,2,1,1,2
292,563649,8,8,8,1,2,NaN,6,10,1,4
294,606140,1,1,1,1,2,NaN,2,1,1,2
297,61634,5,4,3,1,2,NaN,2,3,1,2
315,704168,4,6,5,6,7,NaN,4,9,1,2
321,733639,3,1,1,1,2,NaN,3,1,1,2
411,1238464,1,1,1,1,1,NaN,2,1,1,2
617,1057067,1,1,1,1,1,NaN,1,1,1,2

In [26]:
from sklearn.preprocessing import Imputer

In [27]:
imputer=Imputer(missing_values='NaN', strategy='mean',axis=0)

In [28]:
imputer=imputer.fit(data.iloc[:,data.columns.get_loc('Bare Nuclei'):data.columns.get_loc('Bland Chromatin')])

In [30]:
data.iloc[:,data.columns.get_loc('Bare Nuclei'):data.columns.get_loc('Bland Chromatin')]=imputer.transform(data.iloc[:,data.columns.get_loc('Bare Nuclei'):data.columns.get_loc('Bland Chromatin')])

In [31]:
data.iloc[[23, 40, 139, 145, 158, 164, 235, 249, 275, 292, 294, 297, 315, 321,
            411, 617],:]

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
23,1057013,8,4,5,1,2,3.544656,7,3,1,4
40,1096800,6,6,6,9,6,3.544656,7,8,1,2
139,1183246,1,1,1,1,1,3.544656,2,1,1,2
145,1184840,1,1,3,1,2,3.544656,2,1,1,2
158,1193683,1,1,2,1,3,3.544656,1,1,1,2
164,1197510,5,1,1,1,2,3.544656,3,1,1,2
235,1241232,3,1,4,1,2,3.544656,3,1,1,2
249,169356,3,1,1,1,2,3.544656,3,1,1,2
275,432809,3,1,3,1,2,3.544656,2,1,1,2
292,563649,8,8,8,1,2,3.544656,6,10,1,4
294,606140,1,1,1,1,2,3.544656,2,1,1,2
297,61634,5,4,3,1,2,3.544656,2,3,1,2
315,704168,4,6,5,6,7,3.544656,4,9,1,2
321,733639,3,1,1,1,2,3.544656,3,1,1,2
411,1238464,1,1,1,1,1,3.544656,2,1,1,2
617,1057067,1,1,1,1,1,3.544656,1,1,1,2

In [32]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

In [33]:
data.to_csv("meandata.csv")